DATABASE_URL=postgresql://postgres:Soumya%402802@db.dqrtkkoxgfqvljfbaoei.supabase.co:5432/postgres

JWT_SECRET=bcn-super-secret-jwt-key-minimum-32-chars-long
JWT_REFRESH_SECRET=bcn-refresh-secret-key-minimum-32-chars-long
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

NODE_ENV=development
PORT=8000

CORS_ORIGINS=http://localhost:3000

CLOUDINARY_CLOUD_NAME=djlckmqma
CLOUDINARY_API_KEY=273573167273589
CLOUDINARY_API_SECRET=_j3V-XQU5Wd...

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@bengalchronicle.com

SITE_URL=http://localhost:3000