# ------------------------
# Dependencies
# ------------------------
node_modules/

# ------------------------
# Environment variables
# ------------------------
.env
.env.*
.env.example

# ------------------------
# Logs
# ------------------------
logs/
*.log
server.log

# ------------------------
# Build files
# ------------------------
dist/

# ------------------------
# Prisma
# ------------------------
prisma/migrations/

# ------------------------
# Misc
# ------------------------
coverage/

.env.example/